  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{{schemaType}}",
    "headline": "{{pageTitle}}",
    "description": "{{metaDescription}}",
    "url": "{{canonicalUrl}}",
    "dateModified": "{{lastUpdated}}",
    "datePublished": "2025-01-15",
    "author": {
      "@type": "Person",
      "name": "Paul Paradis",
      "url": "https://seniorbenefitscarefinder.com/author/paul-paradis/",
      "jobTitle": "Senior Benefits Advocate & Consumer Researcher"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Senior Benefits Care Finder",
      "url": "https://seniorbenefitscarefinder.com",
      "publishingPrinciples": "https://seniorbenefitscarefinder.com/editorial-policy/"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{canonicalUrl}}"
    },
    "isPartOf": {
      "@type": "WebSite",
      "name": "Senior Benefits Care Finder",
      "url": "https://seniorbenefitscarefinder.com"
    }
  }
  </script>
