  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{{schemaType}}",
    "headline": "{{pageTitle}}",
    "description": "{{metaDescription}}",
    "url": "{{canonicalUrl}}",
    "dateModified": "{{lastUpdated}}",
    "publisher": {
      "@type": "Organization",
      "name": "Senior Benefits Care Finder",
      "url": "https://seniorbenefitscarefinder.com"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{canonicalUrl}}"
    }
  }
  </script>
